.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #FFF0F3, #800F2F);


  h1 {
    margin-bottom: 20px;
    color: #590D22;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  form {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid #e0cfcf;

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #7a5c4d;
      }

      input {
        width: 100%;
        padding: 12px;
        border: 1px solid #d1bfbf;
        border-radius: 6px;
        transition: border-color 0.3s;

        &:focus {
          border-color: #8e5b4f;
          outline: none;
          box-shadow: 0 0 5px rgba(142, 91, 79, 0.5);
        }
      }

      .show-password {
        margin-top: 5px;
        background: none;
        border: none;
        color: #8e5b4f;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #e5bba0;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #d79a8e;
      }

      &.forgot-password {
        background-color: transparent;
        color: #8e5b4f;
        margin-top: 10px;
        border: 1px solid #8e5b4f;

        &:hover {
          background-color: #8e5b4f;
          color: white;
        }
      }

      &.admin-toggle {
        margin-top: 10px;
        background-color: #d79a8e;

        &:hover {
          background-color: #c76a5e;
        }
      }
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem;
    }

    form {
      padding: 20px;
    }

    button {
      font-size: 16px;
    }
  }
}