
$cor-principal: #f14f0f;
$cor-secundaria: #2c3e50;
$cor-fundo: #ecf0f1;
$cor-botao: #ff6b08;
$cor-botao-hover: #2ecc71;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


@mixin borda-arredondada($radius) {
    border-radius: $radius;
}

@mixin sombreado($cor, $intensidade) {
    box-shadow: 0px 4px 6px $cor, 0px 1px 3px $cor;
}


body {
    font-family: 'Dancing Script', cursive;
    background-color: $cor-fundo;
    margin: 0;
    padding: 0;
}

.conteudo-utensilios-bicos {
    padding: 20px;
}

h2 {
    color: $cor-secundaria;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;  
    text-align: center;
}

h3 {
    color: $cor-secundaria;
    font-size: 18px;
    margin: 10px 0;
    font-family: 'Dancing Script', cursive;  
}

p {
    color: $cor-secundaria;
    font-family: 'Dancing Script', cursive;  
}


.conteudo-swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    h2 {
        font-size: 30px;
        color: white;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Dancing Script', cursive;  // Fonte Dancing Script
    }
}

.lista-produtos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.grid-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.cartao-produto {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;
    font-family: 'Dancing Script', cursive;  

    &:hover {
        transform: translateY(-5px);
        @include sombreado(rgba(0, 0, 0, 0.2), 1px);
    }

    .imagem-produto {
        max-height: 200px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }

    h3 {
        font-size: 18px;
        color: $cor-secundaria;
        margin: 10px 0;
    }

    .preco {
        font-size: 16px;
        color: $cor-principal;
    }

    label {
        font-size: 14px;
        margin-top: 10px;
        display: block;
    }

    input {
        padding: 5px;
        width: 60px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
    }

    .botao-adicionar {
        background-color: $cor-botao;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $cor-botao-hover;
        }
    }
}

.carrinho-compras {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
        font-size: 22px;
        color: $cor-secundaria;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin: 10px 0;
        font-size: 16px;
        color: $cor-secundaria;
    }

    h3 {
        font-size: 20px;
        color: $cor-principal;
        margin-top: 20px;
    }

    button {
        background-color: $cor-botao;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:disabled {
            background-color: #bdbdbd;
            cursor: not-allowed;
        }

        &:hover {
            background-color: $cor-botao-hover;
        }
    }
}


@media (max-width: 768px) {
    .grid-produtos {
        grid-template-columns: 1fr;
    }

    .conteudo-swiper {
        h2 {
            font-size: 24px;
            
        }
    }
}
