@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');

$primary-color: #D90429;
$hover-color: #FF8FA3;
$background-gradient: linear-gradient(to right, #FFF0F3, #FFD1DC);
$text-color: #8e5b4f;

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Dancing Script', cursive;
}

.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: -5px;
  background: $background-gradient;
  min-height: 100vh;

  .titulo-principal {
    font-size: 2.5rem;
    color: $text-color;
    margin-bottom: 20px;
    margin-top: 75px;
    text-align: center;
    animation: fadeIn 1s ease-in;
  }

  .subtitulo {
    font-size: 1.5rem; // Tamanho da fonte aumentado
    color: #333;
    margin-bottom: 40px;
    text-align: center;
    max-width: 80%;
    line-height: 1.5;
    animation: fadeIn 1s ease-in 0.5s;
  }

  .carousel-container {
    width: 80vw; 
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .swiper-container {
    display: flex;
    margin-top: 250px;
    border-radius: 50px;
    margin-left: 150px;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

    .swiper-wrapper {
      display: flex;
    }

    .swiper-image {
      margin: 0;
      width: 80%;
      height: auto;
      object-fit: cover; 
      border-radius: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
      }

      animation: slideIn 0.5s ease-in;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    color: $primary-color;
    width: 40px;
    height: 40px;
    transition: color 0.3s;
    display: none;

    &:hover {
      color: $hover-color;
    }
  }

  .swiper-pagination {
    display: none;
    bottom: 10px;

    .swiper-pagination-bullet {
      display: none;
      background: $primary-color;
      opacity: 0.7;
      margin-right: 100;

      &.swiper-pagination-bullet-active {
        background: $hover-color;
      }
    }
  }
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: $primary-color;
}

.destaques {
  text-align: center;
  margin: 50px 0;

  h2 {
    font-size: 2rem;
    color: $text-color;
    margin-bottom: 20px;
  }

  .destaques-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .destaque-item {
    width: 250px;
    text-align: center;

    img {
      width: 100%;
      border-radius: 10px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .preco {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

.produtos {
  text-align: center;
  margin: 50px 0;

  h2 {
    font-size: 2rem;
    color: $text-color;
    margin-bottom: 30px;
  }

  .produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
  }

  .produto-item {
    width: 200px;
    text-align: center;

    img {
      height: 200px;
      width: 250px;
      border-radius: 10px;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    p {
      color: $text-color;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .inicio-container {
    .titulo-principal {
      font-size:100px;
    }

    .subtitulo {
      font-size: 1rem;
      max-width: 90%;
      font-size: 1000px;
    }

    .carousel-container {
      width: 90vw;
    }

    .swiper-container {
      .swiper-image {
        height: 60vh;
      }
    }
  }

  .destaques,
  .produtos {
    h2 {
      font-size: 1.5rem;
    }

    .destaques-container,
    .produtos-container {
      flex-direction: column;
      align-items: center;
    }

    .destaque-item,
    .produto-item {
      width: 80%;
    }
  }
}

@media (max-width: 480px) {
  .inicio-container {
    .titulo-principal {
      font-size: 1.5rem;
    }

    .subtitulo {
      font-size: 0.9rem;
    }

    .swiper-container {
      .swiper-image {
        height: 50vh;
      }
    }
  }
}
