@import url('https://fonts.googleapis.com/css2?family=Porcelain&display=swap');

body {
  font-family: 'Porcelain', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  background-color: #D90429;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  .logo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-left: 15px;
  }

  .nav {
    display: flex;
    gap: 80px;
    margin-right: 55.12px;

    .nav-item {
      text-decoration: none;
      color: #471e1e;
      font-weight: bold;
      padding: 10px 10px;
      transition: background-color 0.3s, color 0.3s, transform 0.2s;
      background-color: #fae3e7;
      border-radius: 20px; 
      font-size: 25px;

      &:hover {
        color: #FF8FA3;
        background-color: #FF8FA3;
        transform: translateY(-2px);
      }
    }

    
    .button-item {
      background-color:#fae3e7;
      color: #000000;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #FF8FA3;
        transform: translateY(-2px);
      }
    }
  }

  .menu-button {
    background-color: #FFB3C1;
    color: #590D22;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    margin-top: -5px;

    &:hover {
      background-color: #f8b1be;
      transform: translateY(-2px); 
    }
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 10px;
    background-color: #FFB3C1;
    border-radius: 10px;
    position: absolute; 
    padding: 10px;

    .menu-item {
      text-decoration: none;
      color: #590D22;
      font-weight: bold;
      padding: 10px;

      &:hover {
        background-color: #faa8b7;
        transform: translateY(-2px);
      }
    }


    .button-item {
      background-color: #FF8FA3;
      color: #FFF;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: #D90429;
        transform: translateY(-2px);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;

    .logo {
      margin-left: 0;
    }

    .nav {
      display: none; 
    }
  }
}
