html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #ffffff, #f9d5db); // Cor de fundo para toda a página
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #f8f8f8;
  position: relative; // Alterado para relative
  width: 100%;
  height: 100%; // Ajuste removido

  .about-header {
    text-align: center;
    margin-bottom: 40px;

    h1 {
      font-size: 2.5rem;
      color: #6b4f4f; // Atualizado
    }

    p {
      font-size: 1.2rem;
      color: #444; // Atualizado
    }
  }

  .about-differentials {
    text-align: center;

    h2 {
      margin-top: 0;
      font-size: 2rem;
      margin-bottom: 20px;
      color: #6b4f4f; // Atualizado
    }

    .differentials-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;

      .differential {
        background-color: #e2b5a3; // Atualizado
        border-radius: 8px;
        padding: 15px;
        cursor: pointer;
        transition: transform 0.3s, background-color 0.3s;

        h3 {
          font-size: 1.5rem;
          color: #333;
        }

        p {
          display: none;
          color: #666;
        }

        &.active {
          transform: scale(1.05);
          background-color: #d69b8a; // Atualizado

          p {
            display: block;
            margin-top: 10px;
          }
        }

        &:hover {
          background-color: #d69b8a; // Atualizado
        }
      }
    }
  }

  @media (max-width: 768px) {
    .about-header h1 {
      font-size: 2rem;
    }

    .about-header p {
      font-size: 1rem;
    }

    .about-differentials h2 {
      font-size: 1.5rem;
    }

    .differential h3 {
      font-size: 1.2rem;
    }

    .differential p {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    .about-header h1 {
      font-size: 1.5rem;
    }

    .about-header p {
      font-size: 0.9rem;
    }

    .about-differentials h2 {
      font-size: 1.2rem;
    }

    .differential h3 {
      font-size: 1rem;
    }

    .differential p {
      font-size: 0.8rem;
    }
  }
}

.texto {
  display: block; // Corrigido de 25 para block
  margin-top: 200px;
}
